body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;

  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  border: 8px ridge #fcb0ca;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-op {
    flex-direction: column;
    text-align: left;
}

.btn-outline-pink {
  color: #ff4081; 
  border-color: #ff4081;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.btn-outline-pink:hover {
  color: #ffffff;
  background-color: #ff4081;
  border-color: #ff4081;
}

.btn-outline-pink:focus, 
.btn-outline-pink:active {
  box-shadow: 0 0 0 0.25rem rgba(255, 64, 129, 0.5) !important;
  outline: none;
}